
/**********************************
		|  ** ** ** ** ** ** ** **
		|         * * *
		|    MEDIA QUERY 760px
		|         * * *
	 \ /  ** ** ** ** ** ** ** **
		\/
*************************************/

@media  screen and (min-width: 760px) {



	.container {
		max-width: 650px;
		margin: 0 auto;
		/*background-color: lightgrey; */
		margin-top: 70px;
	}

	.contact {
		padding-top: 25px;

	}

	#zipcode{
		max-width: 25%;
	}



	textarea {
		width: 100%;
	}





}



/**********************************
		|  ** ** ** ** ** ** ** **
		|         * * *
		|    MEDIA QUERY 1024px
		|         * * *
	 \ /  ** ** ** ** ** ** ** **
		\/
*************************************/

@media  screen and (min-width: 1024px) {


	.container {
		max-width: 900px;
		margin: 0 auto;
		margin-top: 70px;
	}

	.contact {
		padding-top: 25px;

	}

	.contact label {
		float: left;
		width: 25%;
	}


	/******** WITH FLEXBOX *********/



	/*.flexible {
		display: flex;
		justify-content: flex-start;
	    align-content: flex-start;
	    margin-top: 20px;
		margin-bottom: 15px;
	}

	.flexible label {
	    width: 150px;
	    flex-grow: 1;
	}


	.flexible input {
		flex-grow: 3;
		justify-content: flex-start;
		align-content: flex-start;
		align-self: flex-start;
	}*/

	/*
	input {
		margin-left: 100px;
	}


	#zipcode {
		margin-right: 366px;
		max-width: 200px;
	}*/





	/******** GREY BOXES  *********/

	input[type="text"],
	input[type="email"],
	input[type="tel"]
	{
		height: 60px;
		padding-right: 15px;
		float: left;
		width: 75%;
	}

	select {
		float: left;
		width: 75%;
	}

	#zipcode{
		max-width: 25%;
	}

	/******** *********/

	.newsletter {
		margin-top: 25px;
	}

	h3, 
	input[type="checkbox"],
	input[type="radio"],
	textarea {
		margin: 0 auto;
		padding: 15px 0;
	}




	.contact legend,
	.newsletter legend {
		font-size: 1.2em;
	}



	h4 {
		margin-left: 0;
	}



	textarea {
		width: 100%;
		margin-bottom: 25px;
	}


	button {
		margin-bottom: 10px;
		padding:  20px 0;

	}


	.clearfix:after {
	  content: "";
	  display: table;
	  clear: both;
	}

}





