
/**********************************
		|  ** ** ** ** ** ** ** **
		|         * * *
		|    MEDIA QUERY 760px
		|         * * *
	 \ /  ** ** ** ** ** ** ** **
		\/
*************************************/

@media  screen and (min-width: 760px) {

	.container {
		max-width: 650px;
		margin: 0 auto;
		margin-top: 70px;
	}

	.container h2 {
		margin-top: 30px;
	}

	.contact {
		padding-top: 25px;

	}


	.col-sm {
		float: left;
		width: 100%;
	}

	.col-lrg {
		float: left;
		width: 100%;
	}


	/* centers text in middle of box using Flexbox */

	.center {					
		display: flex;
		align-self: center;
		margin-bottom: 20px;
	}


	textarea {
		width: 100%;
	}

}



/**********************************
		|  ** ** ** ** ** ** ** **
		|         * * *
		|    MEDIA QUERY 1024px
		|         * * *
	 \ /  ** ** ** ** ** ** ** **
		\/
*************************************/

@media  screen and (min-width: 1024px) {

	.container {
		max-width: 975px;
		margin: 0 auto;
		margin-top: 70px;
	}

	.contact {
		padding-top: 25px;
	}


	/******** GREY BOXES  *********/

	input[type="text"],
	input[type="email"],
	input[type="tel"]
	{
		height: 60px;
		padding-right: 15px;
	}

	#zipcode {
		padding-left: 20px;
	}

	
	.col-sm {
		float: left;
		width: 30%;
	}

	.col-lrg {
		float: left;
		width: 70%;
	}

	/* centers text in middle of box using Flexbox */

	.center {					
		display: flex;
		align-self: center;
		margin-bottom: 20px;
	}


	/******** *********/
	.newsletter {
		margin-top: 25px;
	}

	h3, 
	input[type="checkbox"],
	input[type="radio"],
	textarea {
		margin: 0 auto;
		padding: 15px 8px;
	}


	.contact legend,
	.newsletter legend {
		font-size: 1.2em;
	}

	#topics {
		margin-left: 6px;
		margin-top: 20px;
	}

	textarea {
		width: 100%;
		margin-bottom: 25px;
		height: 150px;
	}

	button {
		margin-bottom: 10px;
		padding:  20px 0;

	}

}
