 /*Global Layout Set-up */

body {
  margin: 0 auto;
  /*font-family: "Roboto Slab", sans-serif;*/
  font-family: "Merriweather", sans-serif;
  background: #f2f2f3;
}

* {
	box-sizing: border-box;
}

.container {
	width: 100%;
}

/*** HEADER ***/



.header h1 {
	text-transform: uppercase;
	text-align: center;
	font-size: 1.3em;
	color: white;
	background: #2D3945;
	padding: 30px;
	margin: 0;
}


.container h2 {
	text-align: center;
	font-size: 1.4em;
	color: #2D3945;
	padding-right: 25px;
	padding-left: 25px;
}

.container p {
	text-align: center;
	font-size: 1em;
	font-weight: 300;
	color: #BEC2C5;
	padding-right: 40px;
	padding-left: 40px;
	padding-bottom: 25px;
}



/*** GENERAL FORM AREA ***/

 fieldset {
    border: none;
    padding: 0px 12px 0 5px;
}


/*** HORIZONTAL RULES ***/

.thick-hr {
border-width: 2px;
border-color: #2D3945;
margin: 4px 6px;

}

.thin-hr {
border-width: 1px;
border-color: #2D3945;
margin: 4px 6px;
}


/*** CONTACT FORM ***/

.contact {
	margin-top: 25px;
	/*margin-right: 20px;*/
	margin-left: 5px;
}


.contact legend {
	font-size: 1.5em;
	padding-bottom: 20px;
	padding-left: 0px;
	font-weight: 700;
}

.contact label {
	display: block;
	margin-top: 20px;
	margin-bottom: -5px;
	color: #55687A;
	padding-top: 20px;
}

/** when user types **/

#name,
#email,
#phone,
#address,
#city {
	text-align: left;
	color: #2D3945;
	padding-left: 25px;
	font-size: 1em;
}

#zipcode {
	max-width: 50%;
	margin-bottom: 25px;
	padding-left: 25px;
	text-align: left;
	font-size: 1em;
	color: #2D3945;
}

/*** placeholders ***/



input::-webkit-input-placeholder {
color: #C3C7CA;
text-align: right;
font-style: italic;
/*font-size: 1.1em;*/
padding-right: 10px;
}
 
input:-moz-placeholder {  /*Firefox 18- */
color: #C3C7CA;  
}
 
input::-moz-placeholder {   /*Firefox 19+ */
color: #C3C7CA;  
}
 
input:-ms-input-placeholder {  
color: #C3C7CA;  
}

/** *************** **/




/** GREY DATA BOXES **/

input[type="text"],
input[type="email"],
input[type="tel"] 
{
	background: #e4e4e7;
	border: none;
	height: 60px;
	border-radius: 4px;
	padding-right: 15px;
	color: #C3C7CA;

	display: block;
	width: 100%;
}

select {
	background: #e4e4e7;
	border: none;
	height: 60px;
	border-radius: 4px;
	color: #C3C7CA;

	display: block;
	width: 100%;
}

#state {
	height: 60px;
	font-size: 1em;
}



input:focus,
select:focus,
textarea:focus {
	outline: 0;
	border: 2px solid #46698B;
	background: #f8f9f9;
	transition: background 0.6s;
}




/**************************************************************/
				/* when STATE option has been chosen */

 {
	color: black;
}









/**************************************************************/




/*** NEWSLETTER FORM ***/


.newsletter legend {
	padding-top: 20px;
	padding-bottom: 5px;
	font-size: 1.5em;
	font-weight: 700;
}

h3 {
	font-weight: 300;
	color: #55687A;
	margin-left: 10px;
}

input[type="checkbox"] {
	display: inline-block;
	margin-left: 10px;

	cursor: pointer;
}

input[type="radio"] {
	display: inline-block;
	margin-left: 10px;

	cursor: pointer;
}


.newsletter label {
	color: #55687A;
}

/***************** Fancy CHECKBOXES AND RADIO BUTTONS *****************/


/* Hiding the default radiobuttons & checkboxes */
input[type="radio"], 
input[type="checkbox"] {
    display: none;
}
/* Hiding the "check" status of inputs */
input[type="radio"] + label .fa-circle,
input[type="checkbox"] + label .fa-check  {
	display: none;
}
/* Styling the "check" status */
input[type="radio"]:checked + label .fa-circle,
input[type="checkbox"]:checked + label .fa-check {
	display: block;
	color: #999695;
}
/* Styling checkboxes */
input[type="checkbox"]:checked + label .fa-check {
	position: relative;
	left: .125em;
	bottom: .125em;
}
/* Styling radiobuttons */
input[type="radio"]:checked + label .fa-circle-o {
	display: none;
}






/* space between checkbox&radio and text */
.checkbox,
.radio {
	width: 20px;
	font-size: 0.9em;
}

.space {
	margin-bottom: 10px;
}

.newsletter label {
	font-size: 0.9em;
}


h3 {
	font-size: 0.9em;
}

h4 {
	margin: 0 auto;
	padding: 23px 0;
	font-size: 0.9em;
}

h4 {
	margin-top: 20px;
	font-weight: 300;
	color: #55687A;
}

textarea {
	background: #e4e4e7;
	border: none;
	height: 60px;
	width: 100%;
	border-radius: 3px;
	padding: 15px;
	margin-bottom: 25px;
}

/*** BUTTON ***/


button {
	background-color: #3fa6a0;
	color: white;
	font-size: 1.5em;
	border: none;
	border-radius: 5px;
	text-align: center;
	padding: 28px 0px;
	min-width: 100%;
	cursor: pointer;
}

button:hover {
	background-color: #6bc7c2;
	box-shadow: 5px 5px 10px #888;
}

/*** FOOTER **/

.footer {
	color: #C3C7CA;
	text-align: center;
	margin-top: 35px;
	margin-bottom: 35px;
	font-style: italic;
}




